*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Google Sans Regular';
    text-align: center;
    outline: none;
    border:none
}
input,textarea{
    text-align: left;
    padding-left: 2vh
}
input[type="submit"]{
    text-align: center;
    padding-left: 2vh
}
span{
    color: #005eb9
}
#menu{
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 10px #888888,
                -1px 1px #333,
                1px -1px #333,
                -1px -1px #333;
    border-radius: 20px;
    background: #ffffff;
    align-items: center;
    position: fixed;
    top: 2vh;
    left: 2.5%;
    width: 95%;
    text-align: center;
    z-index: 100;
}
#menu a img{
    height: 4.5vh;
    padding: 0 0.7vh;
    margin: 0.8vh -3vh 0 -3vh
}
#menu > li > img{
    height: 6vh;
    margin: 0.42vh 0.5vh 0 0.5vh
}
#menu a{
    font-size: 2em;
    font-weight: 500;
    padding: 1vh 2vh;
    border-radius: 20px
}
#oi{
    font-size: 2em;
    font-weight: 500;
    padding: 1vh 2vh;
    border-radius: 20px
}
.hover{
    color: #000000
}
.hover:hover{
    color: white;
    background-color: #005eb9;
    transition: 0.25s;
}
.hove{
    color: #005eb6
}
.hove:hover{
    color: white;
    background-color: #005eb9;
    transition: 0.25s
}
#gradiente{
    position: fixed;
    top: 0;
    left: 0;
    height: 15vh;
    width: 100%
}
h1{
    margin-top: 15vh;
    margin-bottom: 4vh;
    font-size: 5.5em;
    text-align: center;
    font-family: 'Sui Generis';
    color: #005eb9;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    text-transform: uppercase;
}
h2{
    font-family: 'Sui Generis';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    color: #005eb9;
    margin-top: 10vh;
    font-size: 3em
}
h3{
    color: #005eb9;
    font-size: 2em;
}
#home{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}
#home img{
    width: 57.5%;
    height: 60%;
    margin: 0 auto;
    margin: 3vh 0 0 5vh
}
#home p{
    width: 70%;
    text-align: center;
    font-size: 1.6em
}
#home h4{
    margin: 16vh 0 3vh 0;
    font-size: 1.6em;
    width: 75%;
    text-align: center;
    font-family: 'Sui Generis';
}
#home span{
    font-family: 'Sui Generis';
    color: #005eb9;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;   
}
#funcionalidades{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20vh
}
#funcionalidades h2{
    margin: 0vh 0 0 0
}
#funcionalidades h3{
    margin: 7vh 0 1vh 0
}
#funcionalidades p{
    width: 80%;
    margin-left: 5vh;
    font-size: 1.75em
}
#planos h2{
    margin-top: 20vh;
    margin-bottom: 3vh
}
.letras{
    font-size: 1.5em;
    margin-top: 3vh
}
.letrass{
    font-size: 1.5em;
    margin-top: 4vh;
    margin-bottom: 4vh
}
.cinza{
    box-shadow: 1px 1px 10px #888888,
    -1px 1px #333,
    1px -1px #333,
    -1px -1px #333;
    border-radius: 25px;
    margin-top: 5vh;
    height: 50vh;
    background-color: #edeeee;
    transition: 0.25s
}
.cinza:hover{
    box-shadow: 1px 1px 25px #888888,
    -1px 1px #333,
    1px -1px #333,
    -1px -1px #333;
}
.branco{
    box-shadow: 1px 1px 10px #888888,
    -1px 1px #333,
    1px -1px #333,
    -1px -1px #333;
    border-radius: 25px;
    margin: 5vh 0 0 0;
    height: 50vh;
    transition: 0.25s
}
.branco:hover{
    box-shadow: 1px 1px 25px #888888,
    -1px 1px #333,
    1px -1px #333,
    -1px -1px #333;
}
.azul{
    box-shadow: 1px 1px 10px #888888,
    -1px 1px #333,
    1px -1px #333,
    -1px -1px #333;
    border-radius: 25px;
    margin-top: 5vh;
    height: 50vh;
    background-color: #ddedfd;
    transition: 0.25s
}
.azul:hover{
    box-shadow: 1px 1px 25px #888888,
    -1px 1px #333,
    1px -1px #333,
    -1px -1px #333;
}
.bold{
    font-size: 2em;
    font-weight: bold;
    font-family: 'sui generis';
    margin: 4vh 0
}
.delimitar{
    width: 95%;
    margin: 0 auto;
    font-size: 1.2em
}
#planos input{
    width: 50%;
    height: 5vh;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #555,
                -1px 1px #555,
                1px -1px #555,
                -1px -1px #555;
    border: none;
    background: #ffffff;
    font-size: 1.75em;
    font-family: 'sui generis';
    color: #005eb9;
    -webkit-text-stroke-color:#000000;
    -webkit-text-stroke-width: 1px;
    margin-bottom: 15vh;
}
#planos input:hover{
    background: #005eb9;
    color: #fff;
    transition: 0.25s
}
#cadastro{
    display: flex;
    justify-content: center
}
#cadastro h2{
    margin: 0;
}
#cadastro p{
    width: 75%;
    margin: 2vh auto;
}
#cadastro img{
    width: 35%
}
#cadastro > div > input{
    width: 90%;
    height: 5vh;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #555,
                -1px 1px #555,
                1px -1px #555,
                -1px -1px #555;
    border: none;
    margin: 1.4vh 0;
    font-size: 1.5em;
    background-color: #edeeee;
}
#espaço{
    margin-right: 15vh
}
#cadastro > div > div > input{
    width: 43.5%;
    height: 5vh;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #555,
                -1px 1px #555,
                1px -1px #555,
                -1px -1px #555;
    border: none;
    margin: 1.4vh 0.9vh;
    font-size: 1.5em;
    background-color: #edeeee;
}
#cadastro > div > div > input:focus{
    background-color: #fff;
    transition: 0.25s;
}
#cadastro > div > input:focus{
    background-color: #fff;
    transition: 0.25s;
}
#cadastro h2{
    margin-bottom: 5vh
}
#cadastro input[type="submit"]{
    font-size: 1.75em;
    font-family: 'sui generis';
    color: #005eb9;
    background-color: white;
    margin-bottom: 5vh
}
#cadastro input[type="submit"]:hover{
    color: white;
    background-color: #005eb9;
    transition: 0.25s
}
#depoimentos h2{
    margin-bottom: 5vh
}
#depoimentos p{
    font-size: 1.5em;
}
#depoimentos > div > p{
    width: 70%;
    margin: 4vh auto
}
#depoimento p{
    width: 80%;
    margin: 0vh 0 0 -1vh
}
#depoimento{
    display: flex;
    justify-content: center;
}
.bolder{
    font-weight: bold
}
#depoimentos > div > div p{
    text-align: left
}
#forms input,textarea{
    width: 130%;
    border-radius: 20px;
    background-color: #e2e2e2;
    margin-left: 18vh;
    margin-top: 2vh;
    box-shadow: 1px 1px 5px #555,
    -1px 1px #555,
    1px -1px #555,
    -1px -1px #555;
}
#forms input,textarea:focus{
    background-color: #eeeeee;
    transition: 0.25s;
}
#forms textarea{
    height: 35vh;
    padding: 2vh 2vh;
    text-align: left;
    font-size: 1.3em
}
#righter{
    margin: 0 15vh 0 0vh
}
#forms input[type="submit"]{
    height: 5vh;
    color: #005eb9;
    background: #ffffff;
    font-family: 'sui generis';
    font-size: 2em;
}
#forms input[type="submit"]:hover{
    color: white;
    background-color: #005eb9;
    transition: 0.25s
}
#depoimentos img{
    margin: 2vh 0 2vh 60vh
}
#right{
    margin-left: 5vh
}
#menos{
    width: 40%;
    height: 40%;
    margin-right: 10vh
}
#quem_somos{
    margin-top: 20vh
}
#quem_somos > div > div > p{
    font-size: 1.7em;
    margin: 0 auto;
    width: 130%;
}
#quem_somos div img{
    width: 27.5%;
    margin-bottom: 4vh
}
.lar{
    width: 40%;
    margin-right: 5%;
    margin-left: 15vh;
    padding: 0 10% 5% 0;
}
#quem_somos h2{
    margin-top: 3vh;
    margin-bottom: 8vh;
    width: 130%;
}
#programadores{
    width: 100%;
    margin-top: 3vh
    /* background: linear-gradient(0deg,rgba(0,0,0,.6),rgba(0,0,0,.2) 40%,rgba(0,0,0,.2) 80%,rgba(0,0,0,.4)); */
}
#sac{
    padding: 0 0 4vh 0;
    margin: 0 0 1px 0;
    box-shadow: 1px 1px #000000
}
#sac input{
    width: 60vh;
    height: 5vh;
    margin: 1vh 0;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #555,
                -1px 1px #555,
                1px -1px #555,
                -1px -1px #555;
    font-size: 1.5em;
    background-color: #edeeee;
}
#sac input:focus{
    background-color: #fff;
    transition: 0.25s;
}
#sac textarea{
    width: 60vh;
    height: 19vh;
    margin: 1vh 0;
    padding: 1vh 0 0 1.5vh;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #555,
                -1px 1px #555,
                1px -1px #555,
                -1px -1px #555;
    font-size: 1.5em;
    background-color: #edeeee;
}
.ma{
    margin-left: 10vh
}
#sac input[type="submit"]{
    font-size: 1.75em;
    font-family: 'sui generis';
    color: #005eb9;
    background-color: white;
}
#sac input[type="submit"]:hover{
    color: white;
    background-color: #005eb9;
    transition: 0.25s
}
.correcao p{
    font-size: 2em;
    text-align: left;
    width: 100%;
    margin: 2vh 0 2vh 5vh;
    font-family: 'sui generis';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}
.correcao p:nth-child(odd){
    color: #005eb9;
    font-size: 2.6em
}
.correcao p:nth-child(even){
    color: #888888;
    font-size: 2.6em
}
#sac h2{
    margin: 8vh 0 6vh 0
}
#mapa{
    margin-bottom: -10.4vh;
}
#contatos{
    box-shadow: -1px -1px #000000;
    z-index: 200;
}
#contatos div img{
    max-width: 3.75vh;
    max-height: 3.75vh;
}
#contatos p{
    font-size: 1.6em;
    margin-left: 1.8vh
}
#contatos span{
    color:#fff
}
#contatos h2{
    padding: 3vh;
    font-size: 2.2em;
}
.flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    align-items: center
}
.flexq{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.flexqc{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center
}
.colu{
    display: flex;
    flex-direction: column
}
.flexc{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
}
.flex1{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin: 1.5vh 0;
}
.flex2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 1.5vh 0;
}
#finalizador{
    width: 100%;
    margin-bottom: -0.5vh;
    margin-top: 2vh
}
.login a{
    font-size: 1.25em
}
.login{
    width: 25%;
    background-color: #fff;
    margin: 50vh auto;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #888888,
                -1px 1px #333,
                1px -1px #333,
                -1px -1px #333;
    position: fixed;
    top: -33.5%;
    left: 37.5%
}
.login input[type="submit"]{
    font-size: 1.75em;
    font-family: 'sui generis';
    color: #005eb9;
    background-color: white;
    margin: 1vh 0 7.5vh 0
}
.login input[type="submit"]:hover{
    color: white;
    background-color: #005eb9;
    transition: 0.25s
}
.login input{
    width: 35vh;
    height: 5vh;
    margin: 1vh 0;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #555,
                -1px 1px #555,
                1px -1px #555,
                -1px -1px #555;
    font-size: 1.5em;
    background-color: #edeeee;
}
.login input:focus{
    width: 36vh;
    height: 5vh;
    margin: 1vh 0;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #555,
                -1px 1px #555,
                1px -1px #555,
                -1px -1px #555;
    font-size: 1.5em;
    background-color: #fff;
    transition: 0.25s
}
.login h2{
    margin-top: 6vh;
    margin-bottom: 14vh;
    /* padding-top: 7.5vh */
}
.login img{
    width: 3vh;
    margin: 1.5vh 0vh 0 85.5%;
    text-align: right
}
.darker{
    width: 100%;
    height: 100vh;
    background: #222222ab;
    position: fixed;
    top: 0;
    z-index: 300;
    display: none
}
.active{
    width: 100%;
    height: 100vh;
    background: #222222ab;
    position: fixed;
    top: 0;
    z-index: 300;
}
.login img{
    z-index: 1000;
}